__pycache__/
env/
.env
log/
log-*/
*.p
*.png
plots/
data/
runs/
results/
logs/
artifacts/hf_cache/
artifacts/label_encoder_cache*/
*.sw?
orca/
core
deepsnap-experimental/
*.md
\scripts
!scripts/
!scripts/*.py
scripts/convert_hetionet_json_to_pkl.py
